*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-mcguinness-oauth-governed-agent-federation.xml
draft-mcguinness-oauth-governed-agent-lifecycle.xml
draft-mcguinness-oauth-attested-agent-identity.xml
package-lock.json
report.xml
!requirements.txt


draft-mcguinness-scim-agent-federation.xml

draft-mcguinness-scim-oauth-client-management.xml
